#####################################
##                                 ##
## THIS FILE IS MANAGED BY ANSIBLE ##
##                                 ##
#####################################

RESTIC_REPOSITORY="{{ restic_repository }}"
RESTIC_PASSWORD="{{ restic_password }}"
RESTIC_BACKUP_OPTS=({{ restic_backup_opts | join (' ') }})
RESTIC_FORGET_OPTS=({{ restic_forget_opts | join (' ') }})
RESTIC_SUCCEED_MAIL={{ restic_succeed_mail }}
RESTIC_MAIL_RECIPIENTS=({{ restic_mail_recipients | join(' ') }})
RESTIC_PRE_COMMAND="{{ restic_pre_command }}"

